body {
    background-color: white;
    font-family: 'Red Hat Mono', monospace;
}

#container {
    background-color: #D9CEC1;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #252617;
}
header {
    padding-top: 20px 0;
    background-color: #98A668;
    border-radius: 20px 20px 0 0;
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    text-align: center;
    color: #252617;
    font-family: 'Red Hat Mono', monospace;
    text-shadow: 2px 2px 2px #D9CEC1;
}

nav {
    background-color: #D9CEC1;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #BFAF8F;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: #252617;
    text-decoration: none;
    border-radius: 15px 15px 0 0;
    margin: 0 5px;
}

nav a:hover{
    background-color:#8C5626;
    color: #252617;
}

main {
    background-color: #BFAF8F;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

main h2 {
    text-align: center;
    color: #252617;
    font-size: 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Red Hat Mono', monospace;
}

main img {
    display: block;
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
}

footer {
    background-color: #98A668;
    padding: 40px 0;
    color: #252617;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color:#8C5626;
    color: #252617;
} 

.tiger_environment {
    text-align: center;
    color: #252617;
    font-size: 1em;
}